body {
    background-color: black;
    font-family: 'Sarpanch', sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    font-size: 40px;
}

header p {
    color: white;
    font-size: 30px;
}

.pba_logo {
    width: 4em;
}

.exec-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    border-style: groove;
    border-color: rgb(10, 10, 195);
    border-width: 5px;
    padding: 60px;

    margin: auto;
    margin-top: 150px;
}

.president {
    background-color: lightblue;
}

.vice-president {
    background-color: lightpink;
}

.delegate {
    background-color: bisque;
}

.treasurer {
    background-color: red;
}

.finSecretary {
    background-color: green;
}

.recSecretary {
    background-color: rgb(90, 90, 147);
}

.sgtAtArms {
    background-color: aquamarine;
}