body {
    background-color: rgb(0, 0, 0);
    font-family: 'Sarpanch', sans-serif;
}

.divider-line {
    background-color: white;
    margin-top: 80px;
    height: 1px;
    width: 800px;
    margin: 100px auto;
    margin-bottom: 50px;
}

.beach-car-container {
    display: flex;
    flex-shrink: 0;
    position: relative;
}

.beach-car {
    width: 100%;
}

.mail-address {
    position: absolute;
    width: 400px;

    bottom: 300px;
    left: 300px;

    color: white;
    font-size: 30px;
}