.welcome-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px 0px 150px; 
    flex-shrink: 0;
    /* background-color: red; */
}

.brick-pd-logo {
    display: flex;
    justify-content: center;
    width: 175px;
    padding-left: 20px;
}

.welcome-statement p {
   color: white;
   text-align: center;
   font-size: 25px;
   font-family: 'Sarpanch', sans-serif;
   font-weight: 400;
}

.pba-logo {
    display: flex;
    justify-content: center;
    width: 175px;
}